__pycache__
app/__pycache__
app/routers/__pycache__
venv/
.env
.env.prod

kubernetes_deploy/manifests/secret.yaml
email*.html
form.html
API_WRITE_ENDPOINTS.md
LOCAL_DEVELOPMENT.md
TERMII_SETUP.md
IMPLEMENTATION_SUMMARY.md
EMAIL_TEMPLATES.md
EMAIL_TEMPLATE_SETUP.md
DISCIPLESHIP_TEMPLATE_GUIDE.md
NEW_ARMY_SETUP_GUIDE.md
DISCIPLESHIP_TEMPLATE.html
NEW_ARMY_TEMPLATE.html